// FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//Header y footer
@import "./partials/header";
@import "./partials/footer";

//Paginas
@import "main";

//MISC
@import "./misc/variables";
@import "./misc/reset";

.contenedor{
    width: 100%;
    margin: auto;
    img{
        width: 100%;
    }
}



