/* Colores y letras*/
$header:#FFF5E4;
$footer:#FF9494;
$color_letter1:#FFE3E1;
$color_letter2:#FFAE6D;
$footer_redes:#FDEEDC;
$letras_1:1.563rem;




/* MIXIN */
@mixin fondo {
    background-image: linear-gradient(
    45deg,
    transparent 20%,
    black 25%,
    transparent 25%
    ),
    linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%),
    linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
    radial-gradient(gray 2px, transparent 0);
    background-size: 30px 30px, 30px 30px;
}