/* Colores y letras*/
$header:#E3C770;
$footer:#FFAE6D;
$footer_copy:#F3E0B5;
$color_letter1:#65647C;
$color_letter2:#2a2826;
$footer_redes:#FDEEDC;
$letras_1:1.563rem;
$align:center;




/* MIXIN */
@mixin sizes($width,$heigth){
    width: $width;
    height: $heigth;
}
@mixin fondo{
    background-image: linear-gradient(
        45deg,
        transparent 20%,
        black 25%,
        transparent 25%
        ),
        linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%),
        linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
        radial-gradient(gray 2px, transparent 0);
        background-size: 30px 30px, 30px 30px;
}
@mixin fondo_header {
    background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin flex-box ($justifi){
    display: flex;
    justify-content: $justifi;
    align-items: center;
}