.footer{
    width: 100%;
    background-color: $footer;
        .footer_contenedor{
        margin: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 10px;
        .box{
        .footer_redes{
            & a{
                display: inline-block;
                text-decoration: none;
                text-align: center;
                width: 2.813rem;
                height: 2.813rem;
                background-color: $footer_redes;
                line-height: 2.813rem;
                transition: all 300ms ease;
                &:hover{
                    color:aqua;
                }
            }
            
        }
            .footer_h2{
                font-weight: 800;
                font-size: 1.25rem;
                color: $color-letter1;
                }
                .footer_p{
                    font-size: 15px;
                    font-weight: 500;
                }
            figure{
                @include flex-box(space-between);
                img{
                    width: 5.625rem;
                    border-radius: 100%;
                }
            }
        }
    }
}

.footer{
    width: 100%;
    .footer_copy{
    background-color: $footer_copy;
    width: 100%;
    text-align: center;
    color: $color_letter2;
    small{
        font-size: 0.938rem;
        font-weight: 600;
    }
    }
}


