
.header{
    background-color: #FFF5E4;
    top: 0;
    height: 70px;
    width: 100%;
    box-shadow: 0 0 5px 11px rgba(0,0,0,0);
    display: grid;
    position: relative;
    .header_logo{
        height: 70px;
        img{
            height: 100%;
        }
    }
}

.header_nav{
    display: flex;
    justify-content: space-betweent;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            display: inline-block;
            margin: 0 1.5rem;
        }
    }
}